.country-btn-grp {
    text-align:left;
}

.country-btn-grp i {
    padding-right : 12px;
}

.cash-btn-grp {
    text-align:left;
}

.cash-btn-grp i {
    padding-right : 10px;
}

.share-item.selected a {
    font-weight : bold;
}