/* Large desktop */
@media (min-width: 1000px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }    
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px and max-width : 999px) {
    body {
        padding-top: 0px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px and min-width : 481px) {
    body {
        padding-top: 0px;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding-top: 0px;
    }
    
}

footer {
    margin: 1em 2em 1em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
}

.country-btn-grp {
    text-align:left;
}

.country-btn-grp i {
    padding-right : 12px;
}

.cash-btn-grp {
    text-align:left;
}

.cash-btn-grp i {
    padding-right : 10px;
}

.share-item.selected a {
    font-weight : bold;
}

.player-input {
    width: 100% !important;
}

.sum-span {
    text-align : center !important;
}