.country-label {
	background : url(../img/countries.png) no-repeat top center;
	background-size: 13px 467px;
}
.country-label-at{ background-position: 0 0; width: 10px; height: 38px; } 
.country-label-gb{ background-position: 0 -88px; width: 10px; height: 34px; } 
.country-label-fr{ background-position: 0 -172px; width: 10px; height: 37px; } 
.country-label-de{ background-position: 0 -259px; width: 13px; height: 50px; } 
.country-label-it{ background-position: 0 -359px; width: 12px; height: 21px; } 
.country-label-ru{ background-position: 0 -430px; width: 10px; height: 37px; }

