<div class="tab-content container">
			<h1>
				About
			</h1>
			<p>
				<h3>Version {{appVersion}}</h3>
				<p>
				Hi!  I'm <a href='http://nolanlawson.com'>Nolan Lawson</a>.  I wrote the Imperial Score Calculator for two reasons:
				<ol>
					<li>I love board games.</li>
					<li>I needed an excuse to learn <a href='http://twitter.github.io/bootstrap/'>Bootstrap</a> and <a href='http://angularjs.org/'>AngularJS</a>.
				</ol>
				</p>
				<p>You can find the source code <a href='http://github.com/nolanlawson/imperial-calculator'>on GitHub</a>.</p>
		</div><!-- /container -->
