<html>
<body>
<div class="tab-content container main-tab-content">
	<p>
		<a href='http://boardgamegeek.com/boardgame/24181/imperial' target='_blank'>Imperial</a> is a board game created by Mac Gerdts.<br>
		Use this tool to calculate players' scores at the end of the game.
	</p>
	
	<div class="row">
		<!-- saved games alert - show when the last saved game is less than 2 hours old -->
		<div id="saved-games-alert" class="alert alert-info span7 fade in" ng-show="showSavedGamesAlert()">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Welcome back!</strong> It looks like you were working on a game at {{formatDate(savedGameSummaries[0],'h:mm a [on] MMMM Do, YYYY')}}.
			<div style="padding-top:10px">
				<a type="button" class="btn pull-right" href='#/saved-games' ng-click="$parent.selectedTabId='saved-games'">See all <span class="caret"></span></a>
				<button type="button" class="btn btn-primary pull-right" href="#" onclick="$('#saved-games-alert').hide();" ng-click="loadGame(savedGameSummaries[0])">Resume this game</button>
				
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span3">
			<h3>Countries</h3>
		</div>
		<div class="span2">
			<h3>Players</h3>
		</div>
	</div>
	<div class="row">
		<div class="span3"></div>
		<div ng-repeat="player in players" class="span1 player-name">
			<input class="span1 player-input" type="text" ng-model="player.name" placeholder="Player {{player.id + 1}}"/>
		</div>
		<button class="span2 btn btn-primary add-player" ng-show="players.length < MAX_NUM_PLAYERS" ng-click="addPlayer()" href='#'>Add Player</button>
	</div>
	<div ng-repeat="country in countries" class="row country-row">
		<div class="span3 tmpl-country">
			<div class="country-container btn-group">
				<button class="btn country country-btn-grp dropdown-toggle span3" data-toggle="dropdown" href='#' type="button">
						
						<span class="pull-left">
						<i class="flag flag-{{country.id}} icon-align-left"></i>
						<span>{{country.name}}</span>
						
						</span>
						<span class="pull-right">
							<span>&nbsp;×{{country.multiplier}}&nbsp;</span>
							<span class="caret"></span>
						</span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li ng-repeat="possibleMultiplier in possibleMultipliers">
						<a href='#' ng-click="country.multiplier = possibleMultiplier; $event.preventDefault();">×{{possibleMultiplier}}</a>
					</li>
				</ul>
				
			</div>
		</div>
		<div ng-repeat="player in players" class="span1">
			<div class="btn-group"> 
			<button href='#' class="btn span1 dropdown-toggle share-dropdown-button" data-toggle="dropdown">{{player.sumSharesPerCountry[country.id] || 0}} mil</button>
			<ul class="dropdown-menu share-dropdown">
				<li class="share-item" ng-repeat="share in country.shares" ng-class="{disabled: share.player != null && share.player != player, selected: share.player == player}">
					<a href='#' ng-click="toggleShareInPlayer(player, share); $event.preventDefault(); $event.stopPropagation()">
						<i ng-class="{true: 'icon-ok', false: 'icon-none'}[share.player == player]"></i>
						<span>{{share.value}} mil</span>
					</a>
				</li>
				<li class="divider"></li>
				<li class="share-done"><a href='#' ng-click="$event.preventDefault()">Done</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="row cash-row">
		<div class="span3">
			<div class="btn-group">
				<button class="btn cash-btn-grp dropdown-toggle span3" data-toggle="dropdown" href='#' type="button">
						<i class="famfamfam-important famfamfam-money icon-align-left"></i>
						<span>Cash on hand</span>
				</button>
			</div>
		</div>
		<div ng-repeat="player in players" class="span1">
			<input type="number" min="0" class="span1" placeholder="0 mil" ng-model="player.cash" 
					ngPattern="[0-9]+" style="text-align:center;"/>
		</div>
	</div>
	<div class="row sum-row">
		<div class="span3"><h4>Total</h4></div>
		<div ng-repeat="player in players" class="span1 score-label">
			<strong>{{player.score}} mil</strong>
		</div>
	</div>
	<div ng-hide="unranked" class="row">
		<div class="span3">
			<div>
				<span class="label label-info">{{!unranked && (!playersInFirst.tieGame && playersInFirst.players[0] + ' wins!' || (playersInFirst.players.join(' and ') + ' tie for first!')) || ''}}</span>
			</div>
			<div ng-show="playersInFirst.tieGame">
				Ties are broken based on the number of shares in the highest-valued country, followed by shares in the next-highest-valued country, etc.
			</div>
		</div>
		<div ng-repeat="player in players" class="span1">
			<span class="label ranking-label" ng-class="{'label-success':player.rank.first, 'label-important':player.rank.last, 'label-info':player.rank.middle}">
				#{{(player.rank.order + 1)}}
			</span>
		</div>
	</div>
	<div ng-hide="unranked" class="row">
		<div class="span3">
			<button type="button" class="btn btn-primary" href="#" ng-click="promptShare()" >Share this game</button>
		</div>
	</div>
	
</div><!-- /container -->
</body>
</html>