<html>
<body>
<div class="tab-content container main-tab-content">
	<p>
		<a href='http://boardgamegeek.com/boardgame/24181/imperial' target='_blank'>Imperial</a> is a board game created by Mac Gerdts.<br>
		Use this tool to calculate players' scores at the end of the game.
	</p>
	
	<div class="saved-games-alert alert alert-info fade in" ng-show="savedGameSummaries.length > 0 && savedGameSummaries[0].startTime != startTime">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Welcome back!</strong> It looks like you were working on a game at {{formatDate(savedGameSummaries[0],'h:mm a [on] MMMM Do, YYYY')}}.
		<div style="text-align:right;padding-top:10px">
			<button type="button" class="btn btn-primary" href="#" onclick="$('.saved-games-alert').hide();" ng-click="loadGame(savedGameSummaries[0])" >Resume this game</button>
			<button type="button" class="btn" href='#saved-games-modal' data-toggle="modal">See all <span class="caret"></span></button>
		</div>
	</div>

	
	<table class="fixed" style="width:100%;" cellpadding="2px">
		<col/>
		<col/>
		<col/>
		<col/>
		<col/>
		<col/>
		<col width="50px"/>
		<tr>
			<td align="center"  class="fixed" ng-repeat="country in countries" style="padding: 10px 0 5px 0;">
				<i style="width:16px" class="flag flag-{{country.id}} icon-align-left"></i>
			</td>
			<td align="center" >
				<div class="famfamfam famfamfam-sum"></div>
			</td>
		</tr>
		<tr>
			<td class="vertical-td fixed" ng-repeat="country in countries">
				<div style="height:55px;margin:0 auto;width:12px;" class="country-label country-label-{{country.id}}"></div>
			</td>
		</tr>
		<tr>
			<td align="center" class="contains-dropdown" ng-repeat="country in countries">
				<div style="width: 100%;" class="btn-group">
					<button style="width: 100%;" class="btn" data-toggle="modal" href='#{{country.id}}-modal' type="button">
							<span class="multiplier">×{{country.multiplier}}</span>
					</button>
					<div id="{{country.id}}-modal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 class="flag-48-{{country.id}}">
						{{country.name}}</h3>
					  </div>
					  <div class="modal-body">
					    <div class="btn-group btn-group-vertical btn-xlarge">
							 <button ng-class="{'btn-info': country.multiplier == possibleMultiplier}" class="btn btn-xlarge" style="width:100%;" ng-repeat="possibleMultiplier in possibleMultipliers"
								href='#' ng-click='country.multiplier = possibleMultiplier'>×{{possibleMultiplier}}</button>
						</div>
					  </div>
					  <div class="modal-footer">
						<table width="100%" class="footer-fixed">
							<tr>
								<td width="33%">
					    			<button ng-class="{'disabled': $index == 0 }" class="btn" onclick="if ($(this).hasClass('disabled')) {return;}$('#{{country.id}}-modal').modal('hide');$('#{{countries[$index - 1].id}}-modal').modal('show');">Previous</button>
								</td>
								<td width="34%">
					    			<button class="btn btn-primary" data-dismiss="modal">Done</button>
								</td>
								<td width="33%">
									<button ng-class="{'disabled' : $index == countries.length - 1}"class="btn" onclick="if ($(this).hasClass('disabled')) {return;}$('#{{country.id}}-modal').modal('hide');$('#{{countries[$index + 1].id}}-modal').modal('show');">Next</button>
								</td>
							</tr>
						</table>
					  </div>
					</div><!-- modal -->
				</div>
			</td>
		</tr>
		<tbody ng-repeat="player in players" style="border-top: 30px solid white;">
			<tr>
				<td class="famfamfam famfamfam-user_gray" style="padding-left:24px;" colspan="3" valign="center" align="center">
					<input style="width:100%;display: block;box-sizing: border-box;height: 100%;" type="text" autocapitalize="on" ng-model="player.name" placeholder="Player {{player.id + 1}}"/>
				</td>
				<td class="famfamfam famfamfam-money" style="padding-left:24px;" colspan="3" valign="center" align="center">
					<input style="width:100%" type="number" min="0" class="span1" placeholder="Cash" ng-model="player.cash" ngPattern="[0-9]+"/>
				</td>
				
				<td valign="center" align="center">
					<span ng-hide="unranked" class="label ranking-label" ng-class="{'label-success':player.rank.first, 'label-important':player.rank.last, 'label-info':player.rank.middle}">
						#{{(player.rank.order + 1)}}
					</span>
				</td>
			</tr>
			<tr>
				<td align="center" class="contains-dropdown" ng-repeat="country in countries">
					<div style="width: 100%;" class="btn-group contains-dropdown"> 
						<button style="width: 100%;" href='#{{player.id}}-{{country.id}}-modal' class="btn" data-toggle="modal">{{player.sumSharesPerCountry[country.id] || 0}}
						</button>
						<div id="{{player.id}}-{{country.id}}-modal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 class="flag-48-{{country.id}}">
							{{player.name || 'Player ' + (player.id + 1)}} ({{player.sumSharesPerCountry[country.id] || 0}} mil)</h3>
						  </div>
						  <div class="modal-body">
						    <div class="btn-group btn-group-vertical btn-large">
								 <button ng-class="{'disabled': share.player != null && share.player != player, 'btn-info': share.player == player}" class="btn btn-large" style="width:100%;" ng-repeat="share in country.shares" href='#' ng-click='toggleShareInPlayer(player, share);'>{{share.value}} mil</button>
							</div>
						  </div>
						  <div class="modal-footer">
							<table width="100%" class="footer-fixed">
								<tr>
									<td width="33%">
						    			<button ng-class="{'disabled': $index == 0 }" class="btn" onclick="if ($(this).hasClass('disabled')) {return;}$('#{{player.id}}-{{country.id}}-modal').modal('hide');$('#{{player.id}}-{{countries[$index - 1].id}}-modal').modal('show');">Previous</button>
									</td>
									<td width="34%">
						    			<button class="btn btn-primary" data-dismiss="modal">Done</button>
									</td>
									<td width="33%">
										<button ng-class="{'disabled' : $index == countries.length - 1}"class="btn" onclick="if ($(this).hasClass('disabled')) {return;}$('#{{player.id}}-{{country.id}}-modal').modal('hide');$('#{{player.id}}-{{countries[$index + 1].id}}-modal').modal('show');">Next</button>
									</td>
								</tr>
							</table>
						  </div>
						</div><!-- modal -->
					</div>
				</td>
				<td valign="center" align="center">
					<strong>{{player.score}} mil</strong>
				</td>				
				

			</tr>
		</tbody>
		<tr ng-show="players.length < MAX_NUM_PLAYERS" style="border-top: 30px solid white;">
			<td colspan="6">
				<button class="span2 btn btn-primary add-player" ng-click="addPlayer()" href='#'>
							Add player
				</button>
			</td>
		</tr>
	</table>
	
	<div ng-hide="unranked"  class="saved-games-alert alert alert-info" style="margin-top:30px;">
		<strong>{{!unranked && (!playersInFirst.tieGame && playersInFirst.players[0] + ' wins!' || (playersInFirst.players.join(' and ') + ' tie for first!')) || ''}}</strong> <span ng-show="playersInFirst.tieGame">
			Ties are broken based on the number of shares in the highest-valued country, followed by shares in the next-highest-valued country, etc.</span>
		<div style="text-align:right;padding-top:10px">
			<button type="button" class="btn btn-primary" href="#" ng-click="promptShare()" >Share this game</button>
		</div>
	</div>
	
	
	<!-- modal -->
	<div id="saved-games-modal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3>Saved games</h3>
	  </div>
	  <div class="modal-body">
	    <div class="btn-group btn-group-vertical btn-large">
		
			 <button ng-class="{'disabled': startTime == savedGameSummary.startTime}" class="btn btn-large" style="width:100%;" ng-repeat="savedGameSummary in savedGameSummaries"
				href='#' onclick="$('.saved-games-alert').hide();" data-dismiss="modal" ng-click='loadGame(savedGameSummary)'>{{formatDate(savedGameSummary,'DD/MMM/YYYY h:mm a')}} with {{getNumPlayers(savedGameSummary)}} players</button>
		</div>
	  </div>
	  <div class="modal-footer">
		<table width="100%" class="footer-fixed">
			<tr>
				<td width="33%">
	    			
				</td>
				<td width="34%">
	    			<button class="btn btn-primary" data-dismiss="modal">Done</button>
				</td>
				<td width="33%">
				</td>
			</tr>
		</table>
	  </div>
	</div><!-- modal -->

</div><!-- /container -->
</body>
</html>