<div class="tab-content container">
			<h1>
				Imperial Score Calculator
			</h1>
			<p>
				<a href='http://boardgamegeek.com/boardgame/24181/imperial' target='_blank'>Imperial</a> is a board game created by Mac Gerdts.<br>
				Use this tool to calculate players' scores at the end of the game.
			</p>
			<div class="row">
				<div class="span3">
					<h3>Countries</h3>
				</div>
				<div class="span2">
					<h3>Players</h3>
				</div>
			</div>
			<div class="row">
				<div class="span3"></div>
				<div class="span1 player-name"><input class="span1" type="text" placeholder="Player 1"/></div>
				<div class="span1 player-name"><input class="span1" type="text" placeholder="Player 2"/></div>
				<div class="span1 player-name"><input class="span1" type="text" placeholder="Player 3"/></div>
				<div class="span1 player-name"><input class="span1" type="text" placeholder="Player 4"/></div>
				<div class="span1 player-name"><input class="span1" type="text" placeholder="Player 5"/></div>
				<div class="span1 player-name"><input class="span1" type="text" placeholder="Player 6"/></div>
				<button class="span2 btn btn-primary add-player" href='#'>Add Player</button>
			</div>
			<div class="row country-row">
				<div class="span3 tmpl-country">
				</div>
			</div>
			<div class="row country-row">
				<div class="span3 tmpl-country">
				</div>
			</div>
			<div class="row country-row">
				<div class="span3 tmpl-country">
				</div>
			</div>
			<div class="row country-row">
				<div class="span3 tmpl-country">
				</div>
			</div>
			<div class="row country-row">
				<div class="span3 tmpl-country">
				</div>
			</div>
			<div class="row country-row">
				<div class="span3 tmpl-country">
				</div>
			</div>
			<div class="row cash-row">
				<div class="span3">
					<div class="btn-group">
						<button class="cash-btn-grp btn span2" href='#' type="button">
								<i class="famfamfam-money icon-align-left"></i>
								<span>Cash on hand</span>
						</button>
						<button class="btn dropdown-toggle" data-toggle="dropdown" href='#' type="button">

								<span class="multiplier" multiplier-value="0">x1</span>
								<span class="caret"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="row sum-row">
				<div class="span3">Sum</div>
			</div>

						
		</div><!-- /container -->
