<div class="tab-content container">
	<p>
		<a href='http://boardgamegeek.com/boardgame/24181/imperial' target='_blank'>Imperial</a> is a board game created by Mac Gerdts.<br>
		Use this tool to calculate players' scores at the end of the game.
	</p>
	
	<table class="fixed" style="width:100%;" cellpadding="2px">
		<col/>
		<col/>
		<col/>
		<col/>
		<col/>
		<col/>
		<col width="50px"/>
		<tr>
			<td align="center"  class="fixed" ng-repeat="country in countries" style="padding: 10px 0 5px 0;">
				<i style="width:16px" class="flag flag-{{country.id}} icon-align-left"></i>
			</td>
			<td align="center" >
				<div class="famfamfam famfamfam-sum"></div>
			</td>
		</tr>
		<tr>
			<td class="vertical-td fixed" ng-repeat="country in countries">
				<div style="height:55px;margin:0 auto;width:12px;" class="country-label country-label-{{country.id}}"></div>
			</td>
		</tr>
		<tr>
			<td align="center" class="contains-dropdown" ng-repeat="country in countries">
				<div style="width: 100%;" class="btn-group contains-dropdown">
					<button style="width: 100%;" class="btn dropdown-toggle" data-toggle="dropdown" href='#' type="button">
							<span class="multiplier">×{{country.multiplier}}</span>
							<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-small">
						<li ng-repeat="possibleMultiplier in possibleMultipliers">
							<a href='#' ng-click="country.multiplier = possibleMultiplier">×{{possibleMultiplier}}</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tbody ng-repeat="player in players" style="border-top: 15px solid white;">
			<tr>
				<td class="famfamfam famfamfam-user_gray" style="padding-left:24px;" colspan="3" valign="center" align="center">
					<input style="width:100%;display: block;box-sizing: border-box;height: 100%;" type="text" autocapitalize="on" ng-model="player.name" placeholder="Player {{player.id + 1}}"></input>
				</td>
				<td class="famfamfam famfamfam-money" style="padding-left:24px;" colspan="3" valign="center" align="center">
					<input style="width:100%" type="number" min="0" class="span1" placeholder="Cash" ng-model="player.cash" ngPattern="[0-9]+"></input>
				</td>
				
				<td valign="center" align="center">
					<span ng-hide="unranked" class="label ranking-label" ng-class="{'label-success':player.rank.first, 'label-important':player.rank.last, 'label-info':player.rank.middle}">
						#{{(player.rank.order + 1)}}
					</span>
				</td>
			</tr>
			<tr>
				<td align="center" class="contains-dropdown" ng-repeat="country in countries">
					<div style="width: 100%;" class="btn-group contains-dropdown"> 
						<button style="width: 100%;" href='#' class="btn dropdown-toggle" data-toggle="dropdown">{{sumSharesInCountry(player,country)}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-small">
							<li ng-repeat="share in country.shares" ng-class="{disabled: share.player != null && share.player != player, selected: share.player == player}">
								<a href='#' ng-click="toggleShareInPlayer(player, share); $event.preventDefault(); $event.stopPropagation()">
									<i ng-class="{true: 'icon-ok', false: 'icon-none'}[share.player == player]"></i>
									<span>{{share.value}} mil<span>
								</a>
							</li>
							<li class="divider"></li>
							<li class="share-done"><a href='#'>Done</a></li>
						</ul>
					</div>
				</td>
				<td valign="center" align="center">
					<strong>{{player.score}} mil</strong>
				</td>				
				

			</tr>
		</tbody>
		<tr ng-show="players.length < 6" style="border-top: 15px solid white;">
			<td colspan="6">
				<button class="span2 btn btn-primary add-player" ng-click="addPlayer()" href='#'>
							<i style="display:inline-block;" class="icon-plus-sign icon-white"></i>

							<i style="display:inline-block;" class="icon-user icon-white"></i>
							Add Player
				</button>
			</td>
		</tr>
	</table>
	<div style="text-align:center;width:100%;margin-top:15px;"><span class="label label-info">{{getFinalRankingText()}}</span></div>

</div><!-- /container -->
