<html>
<body>
	<h1>
		Saved games
	</h1>
	<div class="container">
		<div ng-show="!savedGameSummaries || savedGameSummaries.length == 0">
			<div class="alert alert-info">
				<strong>Nothing here yet.</strong> Your games are saved automatically and will show up here later!
			</div>
		</div>
		<div style="width:100%;text-align:center;">
			<div class="btn-group btn-group-vertical btn-large btn-large-main">
	
				 <a ng-class="{'disabled': startTime == savedGameSummary.startTime}" class="btn btn-large" style="width:100%;" ng-repeat="savedGameSummary in savedGameSummaries" href='#/load/{{savedGameSummary}}'>{{formatDate(savedGameSummary,'DD/MMM/YYYY h:mm a')}} with {{getNumPlayers(savedGameSummary)}} players</a>
			</div>
		</div>
	  </div>
	</div>
</body>
</html>