<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" ng-app="imperial">
	<head>
		<meta charset="utf-8">
		<title>
			Imperial Score Calculator
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content=""><!-- Le styles -->
		<link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
		<link href="css/flags.css" rel="stylesheet" type="text/css">
		<link href="css/famfamfam/css/famfamfam.css" rel="stylesheet" type="text/css">
		<link href="css/application.css" rel="stylesheet" type="text/css">
		<script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<style type="text/css">
	body {
			  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			 }
		</style>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
					 <script src="js/html5shiv.js"></script>
		<![endif]-->
		<!-- Fav and touch icons -->
		<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body ng-controller="ImperialController">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div type="div" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></div> <a class="brand" href="#home">Imperial Score Calculator</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
                                                        <li ng-click="selectTab(tab.id)" ng-repeat="tab in tabs" ng-class="{active: tab.id == selectedTabId}">

								<a href="#{{tab.id}}">{{tab.title}}</a>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		
	<div ng-view></div>	
		<footer>
			<small class="pull-right">Created by Nolan Lawson.</small>
			
		</footer>
		

		<script type="text/template" id="country">
			<div class="country-container btn-group">
				<button class="btn country country-btn-grp dropdown-toggle span2" data-toggle="dropdown" href='#' type="button">
						<i class="flag flag-{0} icon-align-left"></i>
						<span>{1}</span>
				</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown" href='#' type="button">
						
						<span class="multiplier" multiplier-value="0">x{2}</span>
						<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li><a href='#' multiplier-value="0">x0</a></li>
					<li><a href='#' multiplier-value="1">x1</a></li>
					<li><a href='#' multiplier-value="2">x2</a></li>
					<li><a href='#' multiplier-value="3">x3</a></li>
					<li><a href='#' multiplier-value="4">x4</a></li>
					<li><a href='#' multiplier-value="5">x5</a></li>
				</ul>
			</div>
		</script>
		
		<script type="text/template" id="player-share">
			<div class="span1">
				<div class="btn-group"> 
				<button href='#' class="btn span1 dropdown-toggle share-dropdown-button" data-toggle="dropdown">{1}mil</button>
				<ul class="dropdown-menu share-dropdown">
					<li class="divider"></li>
					<li class="share-done"><a href='#'>Done</a></li>
				</ul>
				</div>
			</div>
		</script>
		<script type="text/template" id="cash-on-hand">
			<div class="span1">
				<input type="text" class="span1" placeholder="0mil" style="text-align:center;"></input>
			</div>
		</script>
		<script type="text/template" id="sum">
			<div class="span1" style="text-align:center;">
				0mil
			</div>
		</script>
		<script type="text/template" id="share-item">
			<li class="share-item" share-value="{0}">
				<a href='#'>
					<i class="icon-none share-check"></i>
					<span>{0}mil<span>
				</a>
			</li>
		</script>
		<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
		<script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
		<!--script src="js/jquery.ba-bbq.min.js" type="text/javascript"></script-->
		<!--script src="js/application.js" type="text/javascript"></script-->
	</body>
</html>
