<html>
<body>
	<h1>
		Saved games
	</h1>
	<div class="container">
		<div ng-show="gameSummaries.length == 0">
			<div class="alert alert-info">
				<strong>Nothing here yet.</strong> Your games are saved automatically and will show up here later!
			</div>
		</div>
		<div style="width:100%;text-align:center;">
			<div class="btn-group btn-group-vertical btn-large btn-large-main">
	
				 <a ng-class="{'disabled': startTime == gameSummary}" class="btn btn-large" style="width:100%;" ng-repeat="gameSummary in gameSummaries" href='#/load/{{gameSummary}}'>{{formatDate(gameSummary,'DD/MMM/YYYY hh:mm a')}} with {{getNumPlayers(gameSummary)}} players</a>
			</div>
		</div>
	  </div>
	</div>
</body>
</html>